rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to the productionApps collection
    match /productionApps/{document} {
      allow read, write: if true;
    }
    
    // Allow read and write access to the reminders collection
    match /reminders/{document} {
      allow read, write: if true;
    }
    
    // Allow read and write access to the notes collection
    match /notes/{document} {
      allow read, write: if true;
    }
    
    // Allow read and write access to the todos collection
    match /todos/{document} {
      allow read, write: if true;
    }
  }
}
